.searchBar {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
    gap: var(--padding-large);
    font-size: var(--extra-small-heading);
    margin-bottom: 4rem;

}

.searchBarDark {
    background-color: var(--Dark-mode-elements);
}

.searchBarLight {
    background-color: var(--White);
}

.searchInput {
    cursor: text;
    font-size: var(--extra-small-heading);

    width: 70%;
    height: 4rem;
    display: flex;
    align-items: center;
    border-radius: var(--corner-radius);
    padding: var(--padding-small);
    padding-left: var(--padding-medium);
}

.inputField {
    outline: none;
    border: none;
    border-radius: 5px;
    padding: var(--padding-medium);
    font-size: var(--font-size-medium);
    font-family: var(--font-family);
    background-color: var(--White);

}

.inputFieldDark {
    background-color: var(--Dark-mode-elements);
    color: var(--White);
}

.inputFieldDark::placeholder {
    color: var(--White);
}

.searchDropDownContainer {
    display: flex;
    align-items: center;
    height: 4rem;
    border-radius: 8px;
    padding: 1rem;
    background-color: white;
}

.searchDropDown {

    cursor: pointer;
    width: 100%;
    border: none;
    align-self: center;


}

.searchDropDownDark {
    background-color: var(--Dark-mode-elements);
    color: var(--White);
}

.searchDropDown:focus {
    outline: none;
}

@media screen and (max-width: 870px) {
    .searchBar{
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (max-width: 700px) {
    .searchBar{
        margin-bottom: 2rem;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .searchInput{
        grid-column: 1/3;
        grid-row: 1/2;
        width: 100%;
    }

}